@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', Sans-Serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f2f3f7;
  
}

.min-height {
  min-height: 540px;
  margin-bottom: 80px;
  width: 100%;
}

/*navbar*/
nav {
  position: fixed;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 30px;
  align-items: center;
  padding: 20px 0;
  
}

nav.sticky,
nav.sticky ul li a,
nav.sticky .logo span{
  background-color: #007bff;
  color: #fff !important;
  transition: 0.3s all;
}

nav.sticky ul li a:hover {
  color: #fff;
  font-weight: bold;
}

nav .logo h3 {
  font-size: 25px;
  
}

nav .logo span {
  color: #007bff;
}

.menu-bar {
  display: none;
}

nav ul {
  display: flex;
}

nav ul li {
  justify-content: space-around;
  margin-right: 20px;
  text-transform: uppercase;
}

nav ul li a {
  color: black;
  font-weight: 400;
}

nav ul li a:hover {
  color: #007bff;
  transition: all .2s ease;
}

nav ul li .icon {
  display: none;
}
/*end navbar*/

/*home*/
.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  
}

.content .left {
  margin-top: 170px;
  margin-left: 150px;
  font-size: 27px;
  font-weight: 400;
  
}

.content .left h3 span {
  color: #007bff;
}

.btn {
  padding: 5px 30px;
  background-color: #007bff;
  border-radius: 5px;
  margin-top: 30px;
  color: #fff;
  font-size: 17px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  
}

.btn:hover {
  background-color: #fff;
  border: 1px solid #007bff;
  color: #007bff;
  transition: all .3s ease;
}

.content .left .sosmed {
  font-size: 20px;
  margin-top: 10px;
}

.content .left .sosmed i.fab {
  margin: 0 10px;
  color: #aaa;
  cursor: pointer;
}

.content .left .sosmed i.fa-twitter {
  color: #00ACEE;
}

.content .left .sosmed i.fa-instagram {
  color: #cd486b;
}

.content .left .sosmed i.fa-facebook {
  color: #3b5998;
}


.content .right img {
  width: 500px;
}

/*end home*/

/*project*/
.container {
  width: 100%;
  /*margin: 50px auto;*/
  padding: 40px 15px;
}

.image {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 50px 0;
}

.image img {
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.see-more {
  text-align: center;
}

/*end project*/


/*about*/

div.title  h2{
  text-align: center;
  font-size: 16px;
}

.title::after {
  content: '';
  display: block;
  border-bottom: 3px solid #007bff;
  width: 5%;
  margin: auto;
  padding-bottom: 5px;
  margin-top: -4px;
}

.about-content{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 40px;
}

.about-content .left-about {
  width: 40%;
}

.about-content .left-about img {
  width: 100%;
  border-radius: 5px;
}

.about-content .right-about {
  width: 50%;
}

.about-content .right-about p {
  margin-bottom: 20px;
}

.about-content .right-about .about-btn,
.project .container .project-btn{
  padding: 12px 30px;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

/*end about*/


/*skill*/
.skill-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 40px 15px;
}

.skill-content .left-skill {
  width: 50%;
}

.skill-content .right-skill {
  width: 50%;
  margin: 30px 15px;
}

.skill .right-skill .bars {
  margin-bottom: 15px;
}

.skill-content .right-skill .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.skill-content .right-skill .line {
  position: relative;
  height: 5px;
  width: 100%;
  background-color: lightgrey;
  border-radius: 4px;
  margin-bottom: 5px;
}

.skill-content .right-skill .line::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #007bff;
}

.skill-content .right-skill .html::before {
  width: 90%;
}

.skill-content .right-skill .css::before {
  width: 80%;
}

.skill-content .right-skill .javascript::before {
  width: 70%;
}

.skill-content .right-skill .python::before {
  width: 85%;
}

/*end skill*/

footer {
  text-align: center;
  color: #007bff;
  font-size: 16px;
  padding-bottom: 12px;
  font-weight: 500;
}







/*responsive breakpoint*/
@media screen and (max-width: 576px) {
  
  /*navbar*/
  nav {
    bottom: 0;
    left: 0;
    background-color: #f2f3f7;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    padding: 23px;
    z-index: 1;
    
  }
  
  nav .logo {
    display: none;
  }
  
  nav ul {
    text-align: center;
    margin: 10px 0;
  }
  
  nav ul li {
    margin: 30px;
    color: #fff !important;
  }
  
  nav ul li a {
    margin-top: 30px;
    color: black;
  }
  
  nav ul li a:hover {
    color: #007bff;
  }
  
  nav ul li .icon {
    display: block;
  }
  
  nav ul li .name {
    font-size: 8px;
  }
  /*end navbar*/
  
  /*home*/
  .content,
  .container,
  .about-content,
  .skill-content
  {
    flex-direction: column;
    height: 100vh;
    width: 100%;
  }
  
  .content .left {
    padding-bottom: 1000px;
    font-size: 25px;
    order: 2;
    margin: auto;
    line-height: 50px;
    text-align: center;
  }
  
  .content .left .btn {
    padding: 11px 70px;
  }
  
  .content .left .sosmed {
    font-size: 25px;
  }
  
  .content .right {
    text-align: center;
    order: 1;
  }
  
  .content .right img {
    width: 100%;
    margin-top: 25px;
    margin-bottom: -40px;
  }
  /*end home*/
  
  /*project*/
  .title {
    margin-top: -40px;
  }
  
  .image {
    grid-template-columns: 1fr 1fr;
  }
  

  /*end project*/
  
  /*about */
  
  div.title {
    padding-top: 30px;
  }
  
  .title::after {
    width: 13%;
  }
  
  .about-content {
    padding: 15px;
    margin-top: 40px;

  }
  
  .about-content .left-about {
    width: 100%;
  }
  
  .about-content .right-about {
    width: 100%;
    padding-bottom: 310px;
  }
  
  /*end about*/
  
  /*skill */
  
  .skill-content {
    padding: 15px;
  }
  
  .skill-content .left-skill {
    width: 100%;
  }
  
  .skill-content .right-skill {
    width: 90%;
    margin-left: 5px;
    padding-bottom: 310px;
  }
  /*end skill*/
  
  footer {
    display: none;
  }
  
  
  
  
  
  
  
  
}